body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #221F23;
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header-inner{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.gamepad_logo{
    padding-top: 5px;
}

.logo_name{
    text-decoration: none;
    color:#c920c3 ;
    font-size: 14px;
    letter-spacing: 7px;
    margin-left: 10px;
    font-family: 'Titillium Web';
    cursor: default;
    transition: 0.1s;
}

.logo_name:hover{
    color:#e921e2 ;
}

.enter_button{
    color: #221F23;
    text-decoration: none;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 20px;
    transition: 0.1s;
}

.enter_button:hover{
    background-color: white;
}

.register_button{
    color: white;
    text-decoration: none;
    background-color: #c920c3;
    padding: 5px 10px;
    border-radius: 3px;
}

.register_button:hover{
    background-color:#e921e2;
}

.game_selector{
    position: relative;
    margin-top: 50px;
    background-color: rgb(92, 92, 92);
}

.game_icons{
    display: flex;
}

.game_block{
    width: 30%;
    float: left;
    margin: 0 20px;
    padding-top: 30px;
    transition: 0.1s;
    opacity: 0.85;
}

.game_block:hover{
    transform: scale(1.15);
    opacity: 1;

}

.game_selector_text{
    text-align: center;
    margin-top: 70px;
    padding-bottom: 70px;
    font-size: 64px;
    color: rgb(211, 211, 211);
    font-family: "Lobster";
    cursor: default;
}

.futter{
    height: 50px;
}

/*Lobby*/

.create_lobby{
    position: relative;
    padding-top: 50px;

    background-color: rgb(92, 92, 92);
}

.create_lobby_block{
    text-align: center;
    padding: 40px 0;
  
}

.create_lobby_button{
    padding: 5px 10px;
    text-decoration: none;
    font-size: 48px;
    color: black;
    background-color: rgb(211, 211, 211);
    border-radius: 4px;
}

.available_lobby{
    background-color: rgb(58, 58, 58);
}

.lobby_selector{
    padding: 10px 0;
}

.lobby_selector_link{
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-color: rgb(211, 211, 211);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}


.lobby_information{
    margin: auto 15px;
    height: 50px;
    width: 120px;
    background-color: rgb(92, 92, 92);    
}

.lobby_selector_link_buttons{
    display: grid;
    padding-right: 10px;
}

.lobby_selector_link_buttons_conect{
    width: 70px;
    background-color: rgb(92, 92, 92);
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 5px;
}

.lobby_selector_link_buttons_delete{
    width: 70px;
    background-color: rgb(92, 92, 92);
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    
}

/*CreateLobby*/

.create_lobby_form{
    position: relative;
    padding-top: 50px;

}

.create_lobby_form_block{
    height: 650px;
    width: 600px;
    background-color: rgb(92, 92, 92);
    margin: 20px auto;
}

.create_lobby_head{
    text-align: center;
    color: #fff;
    padding: 20px;
}

.form_block{
    width: 350px;
    margin: 0 auto;    
}